{% extends 'base.html.twig' %}

{% block title %}Hello ShopController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>
	<div class="container vertical-center">
		<h1 class="text-center">
			Votre panier
		</h1>
		<div class="row justify-content-center mb-3">
			{{ dump(panier) }}
			<table class="table">
				<thead>
					<th>Article</th>
					<th>Quantité</th>
					<th>Prix</th>
				</thead>
				<tbody>
					{% for article in panier %}

					{% endfor %}
				</tbody>
				<tfoot>

				</tfoot>
			</table>

		</div>
	</div>
{% endblock %}
