{% extends 'base.html.twig' %}

{% block title %}Mes commandes{% endblock %}

{% block body %}

<div class="container vertical-center">
    <div class="row">
        <h1>Mes commandes</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Date de la commande</th>
                    <th>Article(s) commandé(s)</th>
                    <th>Total</th>
                    <th>Commande validé</th>
                </tr>
            </thead>
            <tbody>
                {% for key,order in myOrders %}
                    <tr>
                        <td>{{ order.date|format_datetime(locale='fr') }}</td>
                        <td>
                            <ul>
                                {% for article in articleOrders[key] %}
                                    <li>{{ article.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>{{ orderTotal[key] / 100 }} €</td>
                        <td>
                            {% if order.checked == true %}
                                <strong style="color: green;">Validée</strong>
                            {% else %}
                                <strong style="color: red;">Non validée</strong>
                            {% endif %}
                        </td>
                    </tr>
                {%  endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
