{% extends 'base.html.twig' %}

{% block title %}Hello BasketController!{% endblock %}

{% block body %}

    <div class="container vertical-center">
        <div class="row">
            {{ form_start(time_slot_form) }}
            <label>Sélectionnez un créneau horaire et saisissez votre addresse</label>
            <div class="form-group">
                {{ form_row(time_slot_form.timeSlot) }}
                {{ form_row(time_slot_form.address) }}
            </div>
            {{ form_end(time_slot_form) }}
        </div>
    </div>

{% endblock %}
